@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9; /* Slate 100 */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f5f9; /* Slate 100 */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
